*{
    margin: 0;
    padding: 0;
  }
  :root{
    --header_y_degradado1: #ab88ff;
    --letras_y_bordes: #fff;
    --footer_y_degradado2:#21c08b;
  }
  html {
    /* sticky style */
    position: relative;
    min-height: 100%;
  }
  
  body{
  background: rgb(230, 213, 213);
  /*  height: cal(100vh - 130px); */ 
   
  
  }
.container-body{
    /* sticky style */
    margin-bottom: 120px;
}